html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#error-box {
    border: 1px solid;
    margin: 0;
    padding: 5px 3px 5px 8px;
    color: #D8000C;
    background: #FFBABA no-repeat 10px center;
    display: none;
}

#header {
    overflow: hidden;
    background-color: rgb(255, 246, 209);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 42px;
}

#header-content {
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    width: 95%;
    height: 50%;
}

#header-auth {
    float: right;
}

#content {
    margin-top: 42px;
    height: calc(100% - 42px);
}

#info {
    position: absolute;
    bottom: 5%;
    right: 5%;
    opacity: 0.6;
    border: 1px solid gray;
    padding: 6px;
}

#info:hover {
    opacity: 1;
}

#slider-box span {
    display: inline-block;
    vertical-align: 5px;
}

#name-loader {
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

#canvas-loader {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
}

#selection-info-box {

}

#color-pick-box {
    padding-top: 2px;
}

.color-box {
    display: inline-block;
    width: 15px;
    height:15px;
    vertical-align: middle;
    margin: 0 1px;
    border: 1px solid black;
}

.color-box:hover:not(.color-selected) {
    border: 1px solid blue;
}

.color-selected {
    border: 2px solid blue;
}