<!DOCTYPE html>

<!--suppress HtmlUnknownTarget -->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>PixelWars</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="js/functions.js"></script>
    <script src="js/app.js"></script>

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/loader.css">
</head>

<body>

<div id="header">
    <div id="header-content">
        <div id="error-box"></div>

        <div id="header-auth" th:switch="${session == null || session.vk_id == null}">
            <form th:case="${true}" action="/auth/">
                <input type="submit" value="Войти"/>
            </form>

            <form th:case="${false}" action="/auth/logout">
                <span id="login-row">
                    Вы залогинены <span id="login-data">под id [[${session.vk_id}]]</span>
                    <span class="ajax-loader" style="display: none" id="name-loader">
                        <span class="loader-column-1 loader-row-1"></span>
                        <span class="loader-column-2 loader-row-1"></span>
                        <span class="loader-column-3 loader-row-1"></span>
                        <span class="loader-column-1 loader-row-2"></span>
                        <span class="loader-column-2 loader-row-2"></span>
                        <span class="loader-column-3 loader-row-2"></span>
                        <span class="loader-column-1 loader-row-3"></span>
                        <span class="loader-column-2 loader-row-3"></span>
                        <span class="loader-column-3 loader-row-3"></span>
                    </span>
                </span>
                <input type="submit" value="Выйти"/>
            </form>
        </div>
    </div>
</div>

<div id="content">
    <div id="canvas-loader" class="ajax-loader">
        <span class="loader-column-1 loader-row-1"></span>
        <span class="loader-column-2 loader-row-1"></span>
        <span class="loader-column-3 loader-row-1"></span>
        <span class="loader-column-1 loader-row-2"></span>
        <span class="loader-column-2 loader-row-2"></span>
        <span class="loader-column-3 loader-row-2"></span>
        <span class="loader-column-1 loader-row-3"></span>
        <span class="loader-column-2 loader-row-3"></span>
        <span class="loader-column-3 loader-row-3"></span>
    </div>

    <div id="canvas-content" style="display: none;">
        <canvas id="pixelwars-canvas">Браузер не поддерживает canvas</canvas>

        <div id="info">
            <div id="slider-box">
                <span>Приближение:</span>
                <input type="range" min="0" max="100" value="1" id="zoom-slider" title="Приближение">
            </div>
            <div id="selection-info-box">
                Выделенный пиксель: (0, 0)
            </div>
            <div id="color-pick-box"><!-- to be filled on init --></div>
        </div>
    </div>
</div>

</body>

</html>